@media screen and (min-width: 700px) {
    html {
        font-size: 15px;
        overflow: auto;
    }

    #mobile-about {
        display: none;
    }
 }

 @media (max-width: 700px) {
     #about-left {
         display: none;
     }
     #bio {
         display: none;     
        }
     #mobile-about {
         overflow: scroll;
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
     }
     #about-title {
         display: none;
     }
        


 }

 @keyframes upDown { 
    0% { top: 38%; }
   50% { top: 37.5%; }
   100% { top: 38%; }

 }
 
 

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
 }

 @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translate3d(0, 100%, 0);
    }
  
    100% {
      opacity: 1;
      transform: none;
    }
  }

  @keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translate3d(100%, 0, 0);
    }
  
    100% {
      opacity: 1;
      transform: none;
    }
  }
  



 
body {
    background: #F5EACF;
    overflow: auto;   
}
.landing-page {
    overflow: auto;
    display: block;
    width: 100%;
    height: 100%;
   
    position: absolute;
  

}

#car{
    position: absolute;
  
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);


    animation-name: upDown;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;

    
     
    
}

#landing-page-txt {
    position: relative;
    font-family: "Petrona", serif;
    font-size: 55px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    
}



#navBarIntro {
    font-family: "Petrona", serif; 
    font-size: 45px;
    position: relative;
    width: 50%;
    text-align: center;

    top: 50%;
    margin: 0 auto;
    
    


}

#landing-nav {
    overflow: auto;
    display: flex;
    position: relative;
    top: 55%;

    width: 90%;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


#about {
  
    border-radius: 15px;
    text-align: center;
    
    
    font-family: "Bebas Neue";
    font-size: 40px;
    text-decoration: none;
    color: #2D261C;
    background: #C67764;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px; 
    margin-bottom: 10px;
    width: 166.65px;
}

#about:hover {
    color: white;
    cursor: pointer;

}




#experience {
    
   
    font-family: "Bebas Neue";
    font-size: 40px;
    text-decoration: none;
    color: #2D261C;

    background: #8FA6AC;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px; 
    margin-bottom: 10px;

    width: 166.65px;

    
}

#experience:hover {
    color: white;
    cursor: pointer;
}




#projects {
  
   
   
    font-family: "Bebas Neue";
    font-size: 40px;
    text-decoration: none;
    color: #2D261C;

    background: #CEB793;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px; 
    margin-bottom: 10px;

    width: 166.65px;

 
}

#projects:hover {
    color: white;
    cursor: pointer;
}



#hobbies {
  

   
    font-family: "Bebas Neue";
    font-size: 40px;
    text-decoration: none;
    color: #2D261C;

    background: #85865F;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px; 
    margin-bottom: 10px;

    width: 166.65px;


   

}

#hobbies:hover {
    color: white;
    cursor: pointer;
}



#navbar { 
    overflow: auto;
    display: flex;
    position: absolute;
    right: 3%;
    top: 3%;
   
   
   
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:  space-evenly;
    text-align: right;
    text-decoration: none;


}

.nav-item {

    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: "Bebas Neue";
    font-size: 20px;
    
    
   

}

#nav-text {
    text-decoration: none;
    color:rgba(58, 50, 34, 0.99);
}

#nav-text:hover {
    text-decoration: underline;
}


#about-title-mobile {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 70px;
   
    
    font-family: Bebas Neue;
    font-size: 40px;
    color:rgba(58, 50, 34, 0.99);

}

#about-title {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 12%;
    
    font-family: Bebas Neue;
    font-size: 40px;
    color:rgba(58, 50, 34, 0.99);
}



#bio {
    position: absolute;
    
    width: 40%;
    right: 8%;
    top: 27%;

    font-family: Petrona;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 27px;

}

#bio-mobile {
    position: absolute;
   
    
    width: 60%;
    text-align: center;
    
    top: 600px;
    margin-top: 10px;
    margin-bottom: 20px;

    font-family: Petrona;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;

}

#pfp-mobile {
    position: absolute;
    width: 300px;
    top: 170px;
    margin-top: 20px;

  
    margin-bottom: 10px;
}
#pfp {
    position: relative;
    display: block;
    width: 300px;
    left: 17%;
    

    padding-bottom: 10px;
  
    margin-bottom: 10px;
}







#about-left {
    position: absolute;
    top: 30%;
    left: 25px;
    
    flex-direction: column;
    width: 512px;
    height: 877.17px;
    margin: 0 auto;

}

#top-five-mobile {
    position: absolute;
    top: 960px;

   

    font-family: Petrona;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;

    margin-bottom: 8%;
}

#top-five-title-mobile {
    font-family: Bebas Neue;
    font-size: 30px;

}



#top-five-title {
    font-family: Bebas Neue;
    font-size: 40px;
    
}
#top-five {   
    position: relative;

    left: 20%;
   

    font-family: Petrona;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 23px;

    padding-bottom: 15px;

    margin-bottom: 8%;

  
}


#self-portrait {
    position: absolute;
    margin-top: 7%;
    margin-bottom: 3%;
    width: 450px;
    right: 8%;
   
}

#self-portrait-mobile {
    display: inline;
    position: absolute;
    top: 1300px;
}

#contact-box-mobile {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 1460px;
    right: 500px;
    

}








#contact-box {
    position: relative;
    display: flex;
   
    width: 50%;
    margin: auto;
    right: 25px;
    

    
  
    flex-direction: row;
    justify-content: space-evenly;
    

}
.icon {
    padding: 10px;
}
.icon:hover {
    transform: scale(1.2);

}


li {
    margin: 20px;
}


#hobbies-icon-box {
    display: flex;
    position: absolute;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    top: 35%;
    
    
}



.hobbies-box {
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2.5%;
    margin-right: 2.5%;
    
    text-align: center;
}

.hobbies-icon {
    position: relative;
    justify-content: flex-start;
    width: 196px;
    height: 196px;

 

    margin-bottom: 10px;

}

.hobby-title {
    margin: 0 auto;
    font-family: Bebas Neue;
    font-size: 30px;
    color:rgba(58, 50, 34, 0.99);
    

    text-decoration: none;

}

.hobby-title:hover {
    text-decoration: underline;
}

#books {
    width: 150px;
    font-family: Petrona;
    margin: 0 auto;
    margin-top: 10px;

    line-height: 20px;
}

#food {
    width: 200px;
    font-family: Petrona;
    position: relative;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 20px;
   
}
#art {
    width: 150px;
    font-family: Petrona;
    position: relative;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 20px;
   
  
  
}
#uke {
    width: 150px; 
    font-family: Petrona;
    position: relative;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 20px;
    
}

#hobbies-title {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 12%;
    
    
    font-family: Bebas Neue;
    font-size: 40px;
    color:rgba(58, 50, 34, 0.99);

}


#food-title {
    position: relative;
  
    text-decoration: none;
    color:rgba(58, 50, 34, 0.99);
}

#art-title {
    position: relative;
    
    text-decoration: none;
    color:rgba(58, 50, 34, 0.99);
}

#uke-title {
    position: relative;
   
    text-decoration: none;
    color:rgba(58, 50, 34, 0.99);
}



#hobbies-intro {
    display: flex;
    display: flex;
    position: absolute;
    width: 1020px;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: Petrona;
    line-height: 23px;
    text-align: center;

    top: 480px;
    left: 80px;

}

.content {
    display: inline-block;
    width: 100%;
    height: 100%;
}



#artwork-box {
    

    display: flex;
    position: relative;
   
    margin-left: auto;
    margin-right: auto;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    top: 60px;
    width: 80%;

    
}

#beach {
    position: relative;
    width: 143px;
    margin: 10px;
}



#bob-ross {
    width: 215px;
    height: 206px;
    margin: 10px;
}

#gudetama {
    width: 211px;
    height: 253px;
    margin: 10px;

}

#NYC {
    width: 239px;
    height: 159px;
    margin: 10px;

}

#linus {
    position: relative;
    width: 215px;
    height: 248px;
    margin: 10px;
    bottom: 40px;
    

}

#hand {
    width: 211px;
    height: 200px;
    margin: 10px;
    transform: rotate(-90deg);
    

}

#sprited-away {
    position: relative;
    width: 240px;
    height: 292px;
    margin: 10px;
    bottom: 80px;


}

#water-tracker {
    position: relative;
    width: 143px;
    height: 218px;
    margin: 10px;
    
}

#artpage {
    position: relative;
    width: 100%;
    text-align: center;
    top: 60px;
    
    
    
    font-family: Bebas Neue;
    font-size: 40px;
    color:rgba(58, 50, 34, 0.99);

    margin-bottom: 20px;

}

#foodpage {
    position: absolute;
    width: 328px;
    height: 61px;
    left: 600px;
    top: 60px;
    
    font-family: Bebas Neue;
    font-size: 40px;
    color:rgba(58, 50, 34, 0.99);

}

#homecooked-box {
    position: absolute;
    top: 230px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    left: 60px;
    
}

#homecooked-title {
    position: absolute;
    width: 307px;
    height: 27px;
    left: 100px;
    top: 165px;

    font-family: Petrona;
    font-size: 25px;
    line-height: 28px;


}

#line {
    position: absolute;
    width: 162.03px;
    height: 0px;
    left: 94px;
    top: 220.75px;

    border: 3px solid #85865F;
}
.homecooked-food {
    width: 192px;
    height: 204px;

    margin: 10px;
    padding: 10px;
   
}

#restaurants {

    position: absolute;
    width: 307px;
    height: 27px;
    left: 100px;
    top: 502px;

    font-family: Petrona;
    
    font-size: 25px;
   

}




#projectspage {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 12%;
    
    
    
    font-family: Bebas Neue;
    font-size: 40px;
    color:rgba(58, 50, 34, 0.99);

}

#proj-box-content {
    display: flex;
    position: absolute;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    top: 35%;  
    
}


.proj-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 2.5%;
    margin-left: 2.5%;
    
    text-align: center;

}

.proj-icon {
   margin-bottom: 7%;

}



#proj1 {
    margin: 0 auto;
    font-family: Bebas Neue;
    font-size: 30px;
    color:rgba(58, 50, 34, 0.99);

}


#proj2 {
    margin: 0 auto;
    font-family: Bebas Neue;
    font-size: 30px;
    color:rgba(58, 50, 34, 0.99);
    
    
    
}

#proj3 {
    margin: 0 auto;
    font-family: Bebas Neue;
    font-size: 30px;
    color:rgba(58, 50, 34, 0.99);
    
}

#ukepage {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 12%;
    
    
    
    
    font-family: Bebas Neue;
    font-size: 40px;
    color:rgba(58, 50, 34, 0.99);

}

#uke-content {
    position: absolute;
    width: 50%;
    height: 30%;
    background:rgba(255, 255, 255, 0.692);

    font-family: Petrona;
    font-size: 20px;
    line-height: 27px;
    left: 25%;
    top: 30%;
    border-radius: 15px;
    text-align: center;
    align-items: center;

 

    
    
}


.uke-txt {
    position: relative;

    font-family: Petrona;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    align-items: center;
    top: 25%;


    text-align: center;

    

}

#exp-content {
    position: absolute;
    background: rgba(255, 255, 255, 0.692);
    width: 1000px;
    height: 1000px;
    left: 130px;

    top: 170px;
    

}
#educ-title {
    position: relative;
    margin: 0px;
    top: 90px;
    left: 100px;
    font-family: Petrona;
    font-size: 30px;
    line-height: 34px;

}

#blue-line {
    position: relative;
    top: 86px;
    left: 90px;
}

#educ-txt {
    position: relative;
    left: 90px;
    top: 100px;
    font-family: Petrona;
    font-size: 20px;
    line-height: 23px;
}

#educ-txt2 {
    position: relative;
    left: 90px;
    top: 100px;
    font-family: Petrona;
    font-size: 15px;
    line-height: 23px;

}

#educ-details {
    position: relative;
    left: 600px;
    top: 22px;
    width: 400px;
    margin: 0px;
    
    font-family: Petrona;
    font-size: 20px;
    line-height: 23px;

   

}

#coursework {
    position: relative;
    left: 600px;
    top: 40px;
    
    font-family: Petrona;
    font-style: italic;
    font-size: 20px;
    line-height: 23px;

    

}

#courses {
    list-style: circle;
    position: relative;
    height: 400px;
  
  
    margin: 0px;
    padding: 0px;
    left: 600px;
    top: 40px;

    
    font-family: Petrona;
    font-size: 20px;
    line-height: 15px;


}

#work-title {
    position: relative;
    left: 100px;

    font-family: Petrona;
    font-size: 30px;
    line-height: 34px;


}

#blue-line2 {
    position: relative;

    left: 90px;
    bottom: 30px;

}









